@charset "UTF-8";
/* CSS Document */

body {
	background-color: #999;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 16px;
	color: #1e1e1e;
	padding: 5px 80px;
}
h1 h2 h3 h4 h5 h6 {
	text-align: center;
}
